@model IEnumerable<Project.ServiceReference.tbl_roles>

<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index">Home</a></li>
            <li><a href="#">Roles</a></li>
        </ol>
    </div>
</div>
<!--End Breadcrumb-->

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-plus-circle"></i>
                    <span>Agregar Roles</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm()) {
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Id</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" placeholder="Escriba Aqui" data-toggle="tooltip" data-placement="bottom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seleccione Estatus</label>
                        <div class="col-sm-4">
                            <select id="s2_with_tag" class="populate placeholder">
                                <option>Activo</option>
                                <option>Descativado</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-styles">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="wysiwig_simple"></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-primary btn-label-left">
                                <span><i class="fa fa-clock-o"></i></span>
                                Agregar
                            </button>
                        </div>
                    </div>
                </form>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-plus-circle"></i>
                    <span>Agregar Permisos a Rol</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Rol</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Rol" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
                        </div>
                        <label class="col-sm-2 control-label">Permiso</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Permiso" data-toggle="tooltip" data-placement="bottom" title="Tooltip for last name">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-primary btn-label-left">
                                <span><i class="fa fa-clock-o"></i></span>
                                Agregar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-table"></i>
                    <span>Roles</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding table-responsive">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
                    <thead>
                        <tr>
                            <th><label><input type="text" name="search_rate" value="Rol" class="search_init" /></label></th>
                            <th><label><input type="text" name="search_name" value="Descripcion" class="search_init" /></label></th>
                            <th><label><input type="text" name="search_votes" value="Estatus" class="search_init" /></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach(var item in Model) 
                            {
                                <tr>
                                    <th>@item.rolesid</th>
                                    <th>@item.descripcion</th>
                                    <th>@item.activo</th>
                                </tr>
                            }   
                        }
                        catch(System.NullReferenceException)
                        {
                            <tr>
                                <th>Vacio</th>
                                <th>Vacio</th>
                                <th>Vacio</th>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Rol</th>
                            <th>Descripcion</th>
                            <th>Estatus</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-table"></i>
                    <span>Permisos</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding table-responsive">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
                    <thead>
                        <tr>
                            <th><label><input type="text" name="search_rate" value="Permiso" class="search_init" /></label></th>
                            <th><label><input type="text" name="search_name" value="Descripcion" class="search_init" /></label></th>
                            <th><label><input type="text" name="search_votes" value="Estatus" class="search_init" /></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Modificar Usuario</td>
                            <td>Permite Modificar Usuarios</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>Autorizar Vacaciones</td>
                            <td>Permite Autorizar Vacaciones</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>Agregar Rol</td>
                            <td>Permite Agregar Role</td>
                            <td>Desactivado</td>
                        </tr>
                        <tr>
                            <td>Borrar Rol</td>
                            <td>Permite Borrar Rol</td>
                            <td>Desactivado</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Permiso</th>
                            <th>Descripcion</th>
                            <th>Estatus</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name hass-error">
                    <i class="fa fa-exclamation"></i>
                    <span>Eliminar Roles</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Rol a Borrar" data-toggle="tooltip" data-placement="bottom">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-danger btn-label-left">
                                <span><i class="fa fa-clock-o"></i></span>
                                Borrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Run Datables plugin and create 3 variants of settings
    function AllTables() {
        TestTable2();
        LoadSelect2Script(MakeSelect2);
    }
    function MakeSelect2() {
        $('select').select2();
        $('.dataTables_filter').each(function () {
            $(this).find('label input[type=text]').attr('placeholder', 'Search');
        });
    }
    $(document).ready(function () {
        // Load Datatables and run plugin on tables
        LoadDataTablesScripts(AllTables);
        // Add Drag-n-Drop feature
        WinMove();
    });
</script>